<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
  
    
    <form method="POST">
        <div class="form-group"><h6><u>Old Comment:</u>&nbsp;{{old_comment}}</h6><br>
            <label for="exampleFormControlInput1"><u>Edit:</u></label>
            <input type="text" class="form-control" name="inputcomment" id="exampleFormControlInput1" placeholder="change comment">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        <!-- <label for="inputcomment">Edit:</label>
        <input type="text" id="inputcomment" name="inputcomment">
        <button type="submit">Change</button> -->
    </form><br>
    Changed your mind? <a href="/feed">click here</a>.
</body>
</html>