<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logging Out...</title>
</head>
<body style="height:100vh;color:rgb(26, 34, 5); background: radial-gradient(#f5e6f7, #88c5ff);">
    <h1 align="center">Log out successful!<br></h1>
    <h2 align="center">Thank you for using Bloglite. Please visit again.
    </h2>
    <br>
    <br><br><br><br><br><br><br><br>
    <p align="center"><a align="center" href="/">Click Here</a> to login .
        </p>
    </body>
</html>